body {
background-color: aqua;
font-family: century gothic;
text-align: justify;
}

h1 {
font-family: comic sans ms;
font-size: 60px;
color: darkblue;
text-align: center;
}

h4 {
text-align: right;
font-style: italic;
}

