body {
background-color: khaki;
font-family: century gothic;
text-align: justify;
}

h1 {
font-family: comic sans ms;
font-size: 60px;
color: darkblue;
text-align: center;
}

h4 {
text-align: right;
font-style: italic;
}

.p1 {
color: salmon;
text-align: center;
}

#p2 {
line-height: 100px;
text-align: right;
color: darkred;
}

a:link {
	text-decoration: none;
	color: blue;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
	color: red;
}